---
import Container from "./Container.astro";
---

<div id="blog">
    <Container>
        <!-- <div class="mb-12 space-y-2 text-center">
            <h2 class="text-3xl font-bold text-gray-800 dark:text-white md:text-4xl">Speakers</h2>
                  <p class="text-center text-xl text-gray-600 dark:text-gray-300">
                    Scopri i relatori dell'evento
                  </p>
        </div> -->

        <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
            <div class="group p-6 sm:p-8">
                <div class="relative overflow-hidden rounded-xl">
                    <img src="images/avatars/messia.png" alt="art cover" loading="lazy" width="1000" height="667" class="object-cover object-top transition duration-500" />
                </div>
                <div class="relative mt-6 text-center">
                    <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">Davide Messia</h3>
                    <p class="mb-8 mt-6 text-gray-600 dark:text-gray-300">
                        Founder @oracolodeltest <br />
                        Test Coordinator @Sisal
                    </p>
                </div>
            </div>

            <div class="group p-6 sm:p-8">
                <div class="relative overflow-hidden rounded-xl">
                    <img src="images/avatars/caovilla.png" alt="art cover" loading="lazy" width="1000" height="667" class="object-cover object-top transition duration-500" />
                </div>
                <div class="relative mt-6 text-center">
                    <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">Angelo Caovilla</h3>
                    <p class="mb-8 mt-6 text-gray-600 dark:text-gray-300">
                        Quality Evangelist @Prima Assicurazioni
                    </p>
                </div>
            </div>

            <div class="group p-6 sm:p-8">
                <div class="relative overflow-hidden rounded-xl">
                    <img src="images/avatars/besana.png" alt="art cover" loading="lazy" width="1000" height="667" class="object-cover object-top transition duration-500" />
                </div>
                <div class="relative mt-6 text-center">
                    <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">Ludovico Besana</h3>
                    <p class="mb-8 mt-6 text-gray-600 dark:text-gray-300">
                        QA Engineer @Banca AideXa
                    </p>
                </div>
            </div>
        </div>

        <div class="flex flex-wrap justify-center gap-y-4 gap-x-6">
            <a
              href="/speakers"
              class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
            >
              <span class="relative text-base font-semibold text-white"
                >Scopri tutti gli speakers</span
              >
            </a>
        </div>
    </Container>
</div>
